$primary: #00BCD4;
$darkPrimary: #0097A7;
$rightPrimary: #B2EBF2;
$text: #212121;
$lightText: #B2EBF2;
$secondaryText: #757575;
$accent: #FFC107;
$devider: #BDBDBD;

html {
  font-size: 10px;
  color: $text;
}